[Desktop Entry]
Name=Microsoft Exchange Server (EWS) Mail Transport
Comment="Allows sending e-mail through the Microsoft Exchange server using EWS"
Type=AkonadiResource
Exec=akonadi_ewsmta_resource
Icon=akonadi-ews

X-Akonadi-MimeTypes=text/directory,message/rfc822
X-Akonadi-Capabilities=Resource,NeedsNetwork,MailTransport
X-Akonadi-Identifier=akonadi_ewsmta_resource
